transformers            
sentence-transformers   
langchain               
langchain-community  
streamlit               
faiss-cpu               
PyPDF2                  
python-docx             
numpy                   
requests                